*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.button {
    background: #3177FF;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    height: 1.875rem;
    line-height: 1rem;
    position: absolute;
    
}
.topbutton {
    width: 5.25rem;
    top: 0.4375rem;
}
.bottombutton {
    width: 12.1875rem;
}
.loginbutton {
    right: 0.375rem;
}
.signupbutton {
    right: 0.375rem;
}
.background {
    background-color: #040713;
}
.fontcolorwhite {
    color: #FFFFFF;
}
.font {
    font-family: 'Roboto', sans-serif; 
}
.font14px {
    font-size: 0.875rem;
    font-style: normal;
}
.lineheight16 {
    line-height: 1rem;
}
.font8px {
    font-size: 0.5rem;
    font-style: normal;
}
.lineheight9 {
    line-height: 0.5625rem;
}
.font18px {
    font-size: 1.125rem;
    font-style: normal;
}
.lineheight21 {
    line-height: 1.3125rem;
}
.font13px {
    font-size: 0.8125rem;
    font-style: normal;
}
.font24px {
    font-size: 1.5rem;
    font-style: normal;
}
.lineheight28 {
    line-height: 1.75rem;
}
.font11px {
    font-size: 0.6875rem;
    font-style: normal;
}
#preciomobile {
    margin-top: 0.4375rem;
}
#pricemayvary {
    margin-top: 4.375rem;
}
.hrmobile {
    border: 0.125rem solid #FFFFFF;
    margin: 1.8125rem 2.9375rem 3.8125rem 2.9375rem;
}
#enjoymobile {
    margin: 1.875rem 3.875rem 0rem 3.875rem;
}
#availablemobile {
    margin-top: 3rem;
    margin-bottom: 4rem;
}
.deviceslist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1fr 3fr 3fr);
    gap: 3.125rem;
}
#precio {
    margin-top: 1.625rem;
}

.hrtablet {
    border: 0.125rem solid #FFFFFF;
    margin: 1.25rem 8.9375rem 2.8125rem 8.9375rem;
}

#watchtheway {
    margin-top: 3.25rem;
}
.footer {
    margin-top: 6.75rem;
}
.footerlogin {
    margin-top: 35%;
    padding-bottom: 1.375rem;
}
#rectangulo {
    position: absolute;
    mix-blend-mode: color;
    width: 41%;
    left: 0px;
    top: 0px;
}
#loginnow {
    margin-top: 2.9375rem;
}
.signupform {
    margin-top: 2.875rem;
}
.loginform {
    margin-top: 2.875rem;
}
input {
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    color: #3177FF;
    height: 2.8125rem;
    width: 21.375rem;
}
.chooseyourplan {
    margin-top: 1.6875rem;
}
.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #FFFFFF;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox:hover input ~ .checkmark {
    background-color:#FFFFFF;
  }
  
  /* When the radio button is checked, add a blue background */
  .checkbox input:checked ~ .checkmark {
    background-color: #FFFFFF;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .checkbox .checkmark:after {
       top: 2px;
      left: 2px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #3177FF;
  }
input:active {
    transform: translateY(1px);
}
input:hover {
    opacity: 0.8
}

button:active {
    transform: translateY(1px);
}
button:hover {
    opacity: 0.8
}
.container-home{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 19.438rem 22.125rem 48.438rem;
    grid-template-areas:"fondo"
                        "buttons"
                        "movies";
}

#fondo{
   
    grid-area: fondo;
}
.imagenfondo{
    
    width: 100vw;
}

#buttons{
    grid-area: buttons;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%,
    rgb(0, 0, 0));
    display: flex;
    justify-content: center;
}

#movies{
    grid-area: movies;
    overflow-y: hidden;
    background: rgb(0, 0, 0);
}

#genero{
    position: absolute;
    margin: 85px 0 0 0;   
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16.2369px;
    line-height: 19px;
    color: #FFFFFF;
}

nav{
    cursor: default;
}
a{
    padding: 15px;
}

#movy{
    position: absolute;
    height: 19px;
    left: 14.92%;
    right: 14.92%;
    top: 445px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.746667px;
    color: #0578FF;
}
#rectangle{   
    width: 15.5rem;
    height: 28px;
    border-radius: 5px; 
    position: absolute;
    top: 27.5rem;  
    background: #0578FF;    
    opacity: 0.29;    
}

#botones{
    position: absolute;
    display: flex;
    top: 32.563rem;
    cursor: pointer;
}
#nombrebotones{
    position: absolute;
    display: flex;
    top: 568px;
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16.2369px;
    line-height: 19px;
    cursor: default;
}

.plus, .play, .info{
    margin: 0 35px;
    color: #FFFFFF;  
    font-size: 36px; 
}

#plus{
    margin: 0 34px 0 20px;
}
#play{
    margin: 0 35px 0 30px;
}
#info{
    margin: 0 30px 0 40px ;
}

#namelist{    
    margin: 5px 0 24px 35px;
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.84px;
    color: #FFFFFF;
}

ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 100vh;
    margin: 0 32.13px;
    padding: 0;
    height: 11.307rem;
    width: 100%;
}

li {
    float: left;
    min-width: 91.61px;    
    height: 11.307rem;
    transition: .2s;
}
li:hover {
    transform: scale(1.5); 
}
li:active{
    transform: scale(1.35);
}
img:hover{
    box-shadow: 0 2px 4px  rgb(0, 0, 0);
}

ul li::marker{
    font-size: 0px;
}

footer{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 88.375rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
}



@media only screen and (min-width: 768px) {
    .deviceslist {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
    #pricemayvary {
        margin-top: 5.1875rem;
    }
    #panelsignupnow {
        top: 31%;
        width: 40%;
    }
    .signupform {
        top: 15%;
        width: 41%;
    }
    .checkboxpanel {
        margin-left: 14.6875rem;
    }
    #name {
        width: 93%;
    }
    #country {
        width: 93%;
    }
    #password {
        width: 93%;
    }
    #confirmpassword {
        width: 93%;
    }
    .loginform {
        top: 17%;
        width: 41%;
    }
    #rectangulo{
        width: 41%;
    }
    #email {
        margin-top: 2.875rem;
        width: 95%;
    }
    
    #pass {
        width: 95%;
    }
    .imagenfondo{
        width: 0%;
     }   
     .bodymovies{
         background-image: url(/assets/Screen\ Shot\ web.png);
         background-size: 100%;
         background-repeat: no-repeat;
     }
     .container-home{
         display: grid;
         grid-template-columns: 100%;
         grid-template-rows: 19.438rem 28.813rem 41.75rem;
     }    
     #rectangle{
         top: 35.813rem;
     }
     #movy{
         top: 36.125rem;
     }
     #botones {
         top: 40.813rem;
     }
     #nombrebotones {
         top: 43.813rem;
     }
     #genero {
         margin: 13.125rem 0 0 0;
     }
     footer{
         top: 90.313rem;
     }
     #buttons{
         background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%,
     rgba(0, 0, 0, 0.63));
     }
}

@media only screen and (min-width: 1280px) {
    #panelsignupnow {
        top: 39%;
    }
    #pricemayvary{
        margin-top: 4rem;
    }
    #precio {
        font-size: 1.125rem;
        font-style: normal;
        line-height: 1.3125rem;
    }
    #watchtheway {
        font-size: 1.5rem;
        font-style: normal;
        line-height: 1.75rem;
    }
    .loginbutton {
       left: 47%;
    }
    #name {
        width: 85%;
    }
    #country {
        width: 85%;
    }
    #password {
        width: 85%;
    }
    #confirmpassword {
        width: 85%;
    }
    .checkboxpanel {
        margin-left: 34.2125rem;
    }
    #rectangulo{
        width: 41%;
    }
    .loginform {
        margin-top: 11%;
    }
    #buttons{
        background: none;
    }
    
    #movies{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%,
    rgb(0, 0, 0));
    }
}
